Debug/
Release/
ipch/
WindowsMainControlV1/AECMFC4B_lib.h
WindowsMainControlV1/WindowsMainControlV1.vcxproj
WindowsMainControlV1/WindowsMainControlV1.vcxproj.filters
.vs/
WindowsMainControlV1/ReadMe.txt
WindowsMainControlV1.opensdf
WindowsMainControlV1.sdf
WindowsMainControlV1/WindowsMainControlV1Dlg.cpp.rej
